body{
    margin: 0;
    background: hsl(216, 12%, 8%);
    font-family: Overpass;
    color: white;
    width: 1440px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: Overpass;
    src: url("Overpass-VariableFont_wght.ttf");
}
.main-container{
    background: rgb(25, 32, 42);
    width: 348px;
    height: 352px;
    padding: 32px;
    margin-top: 5px;
    border-radius: 30px;
}
#star-icon{
    width: 48px;
    height: 48px;
    background: hsl(213, 19%, 18%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-section{
    margin-top: 36px;
}
#feedback-title{
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}
#feedback-description{
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    color: hsl(217, 12%, 63%);
    line-height: 24px;
}
.rating-number-section{
    display: flex;
    column-gap: 20px;
    margin-top: 22px;
}
#rating-number{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    width: 52px;
    height: 48px;
    border-radius: 100%;
    background: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    transition: 0.16s;
}
#rating-number:hover{
    cursor: pointer;
    background: hsl(25, 97%, 53%);
    color: rgb(25, 32, 42);
}
.rating-submit{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(25, 97%, 53%);
    margin-top: 32px;
    width: 341px;
    height: 41px;
    padding-top: 4px;
    border-radius: 25px;
    transition: 0.4s;
}
.rating-submit:hover{
    background-color: white;
    cursor: pointer;
}
#submit-btn{
    letter-spacing: 2px;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}
.feedback-confirmation{
    display: none;
    align-items: center;
    flex-direction: column;
}
#thank-you-icon{
    margin-top: 13px;
    margin-right: 9px;
}
#selected-number{
    display: none;
    font-size: 15px;
    color: rgb(218, 118, 42);
    width: 193px;
    height: 29px;
    border-radius: 30px;
    padding-top: 3px;
    margin-top: 26px;
    margin-left: 1px;
    background: hsl(213, 19%, 18%);
}
#selected-number.active{
    display: flex;
    align-items: center;
    justify-content: center;
}
.thank-you-text{
    text-align: center;
    margin-top: 38px;
}
#title{
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}
#description{
    width: 342px;
    margin: 0;
    margin-right: 8px;
    margin-top: 10px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 24px;
}
@media only screen and (max-width: 375px){
    html{
        display: flex;
        justify-content: center;
    }
    body{
        width: 375px;
        height: 667px;
    }
    .main-container{
        width: 279px;
        height: 312px;
        border-radius: 15px;
        margin-top: 1px;
        padding: 24px;
    }
    #star-icon{
        width: 40px;
        height: 40px;
    }
    #star-icon img{
        width: 14px !important;
    }
    .text-section{
        margin-top: 22px;
    }
    #feedback-title{
        font-size: 24px;
    }
    #feedback-description{
        font-size: 14px;
        line-height: 22px;
        margin-top: 13px;
    }
    .rating-number-section{
        column-gap: 17px;
    }
    #rating-number{
        width: 43px;
        height: 42px;
        font-size: 14px;
        padding-top: 1px;
    }
    .rating-submit{
        width: 279px;
        height: 43px;
        margin-top: 23px;
        padding-top: 2px;
    }
    #submit-btn{
        font-size: 14px;
    }
    #thank-you-icon{
        margin-top: 10px;
        margin-right: 0;
    }
    #thank-you-icon img{
        width: 144px;
    }
    #selected-number{
        width: 170px;
        margin-top: 18px;
        font-size: 14px;
    }
    .thank-you-text{
        margin-top: 30px;
    }
    #title{
        font-size: 24px;
    }
    #description{
        margin: 0;
        margin-top: 13px;
        font-size: 14px;
        width: 300px;
        line-height: 22px;
    }
}
@media only screen and (max-width: 768px){
    html{
        display: flex;
        justify-content: center;
    }
    body{
        width: 375px;
        height: 667px;
    }
    .main-container{
        width: 279px;
        height: 312px;
        border-radius: 15px;
        margin-top: 1px;
        padding: 24px;
    }
    #star-icon{
        width: 40px;
        height: 40px;
    }
    #star-icon img{
        width: 14px !important;
    }
    .text-section{
        margin-top: 22px;
    }
    #feedback-title{
        font-size: 24px;
    }
    #feedback-description{
        font-size: 14px;
        line-height: 22px;
        margin-top: 13px;
    }
    .rating-number-section{
        column-gap: 17px;
    }
    #rating-number{
        width: 43px;
        height: 42px;
        font-size: 14px;
        padding-top: 1px;
    }
    .rating-submit{
        width: 279px;
        height: 43px;
        margin-top: 23px;
        padding-top: 2px;
    }
    #submit-btn{
        font-size: 14px;
    }
    #thank-you-icon{
        margin-top: 10px;
        margin-right: 0;
    }
    #thank-you-icon img{
        width: 144px;
    }
    #selected-number{
        width: 170px;
        margin-top: 18px;
        font-size: 14px;
    }
    .thank-you-text{
        margin-top: 30px;
    }
    #title{
        font-size: 24px;
    }
    #description{
        margin: 0;
        margin-top: 13px;
        font-size: 14px;
        width: 300px;
        line-height: 22px;
    }

}


